<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <center><span class="title"><%= @post.title %></span onerror=""></center>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-lg-12">
      <center><span class="post-body"><%= @post.body %></span></center>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-lg-12">
      <center><span class="post-author">by <%= @post.author.username %></span></center>
    </div>
  </div>
</div>
